.box {
    background-color:  #F5FFDA;
    max-width: 500px;
    min-height: 600px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 10px 30px;
}

.shopping-list-row {
    display: grid;
    grid-template-columns: auto 100px 100px;
    grid-template-rows: auto;
    border-top: 1px solid #006D77;
}

.shopping-list-row p {
    font-size: 15px;
}

.shopping-list-header {
    border-top: none;
}

.shopping-list-header p {
    color: #006D77;
    font-weight: 900;
    font-size: larger;
}

.quantity {
    text-align: center;
}

.btn-unchecked {
    background-color: #F5FFDA;
    height: 30px;
    width: 30px;
    margin: 4px;
    border: 2px solid #006D77;
    border-radius: 4px;
}

.checked {
    display: flex;
}

.btn-checked {
    background-color: #006D77;
    color: #E6F0CC;
    margin: 4px;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    font-size: 20px;
}
