@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #E6F0CC;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #006D77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #E6F0CC;
}

.header h4 {
  margin: 0;
  margin-bottom: 20px;
}
